1 WAVE "num1_btn.wav"
2 WAVE "num2_btn.wav"
3 WAVE "num3_btn.wav"
4 WAVE "num4_btn.wav"
5 WAVE "num5_btn.wav"
6 WAVE "num6_btn.wav"
7 WAVE "num7_btn.wav"
8 WAVE "modem_sound.wav"
9 WAVE "access_allowed.wav"
10 WAVE "pas1_btn.wav"
11 WAVE "reg_done.wav"
12 WAVE "done_reg.wav"
13 WAVE "song_for_hacking.wav"
14 WAVE "die.wav"
15 WAVE "winXP_insert.wav"
16 WAVE "winXP_remove.wav"
17 WAVE "chord.wav"
18 WAVE "loading_sound.wav"
19 WAVE "hide_sound.wav"